@model Ahlia.Models.Payment

@{
    ViewData["Title"] = "Create";
}
@if (!string.IsNullOrEmpty(ViewBag.msg))
{
    if (ViewBag.msg == "firstelse")
    {
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>

            لقد سحبت أكبر من المبلغ الموجود في رصيد الزبون



        </div>
    }
   @* else
    {
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>



            الرجاء اختيار المساهم

        </div>
    }
*@

}






<div class="card mb-4">
    <div class="card-header" style=" display: flex;
  justify-content: space-between;">
        <a asp-action="Index">
            <i class="fa fa-arrow-left fa-lg"></i>
        </a>
        <p>إضافة دفعة</p>


    </div>

    <div class="card-body">
        <form role="form" enctype="multipart/form-data" id="formSubmission" method="post" style=" width: 50vw;  margin: auto;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row mb-4">
                <div class="col">


                    <div class="form-group">

                      @*  <label asp-for="ClientId" class="control-label"></label><span style="color:red;">*</span>

                        <input value="@ViewBag.clientName" required>


                        </input>*@
                       
                        <input asp-for="Id" />
                        
                            <label asp-for="ClientId" class="control-label"></label><span style="color:red;">*</span>
                            <input value ="@ViewBag.clientName" class="form-control" readonly/>
                        <input id="clientid" asp-for="ClientId" required  hidden />
                        <span asp-validation-for="Notes" class="text-danger"></span>
                    </div>
                   


                    <div class="form-group">
                        <label asp-for="Amount" class="control-label"></label><span style="color:red;">*</span>&nbsp;&nbsp;<span id="amountspan" style="color:green;"></span>
                        <input value="@ViewBag.Total" type="number" asp-for="Amount" id="Amount" class="form-control" min="1" title="الرجاء الادخال بالشكل الصحيح" required />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                    <div class="form-group">

                        <label asp-for="CityId" class="control-label"></label><span style="color:red;">*</span>
                        <select id="cityid" asp-for="CityId" asp-items="ViewBag.CityId" class="form-control" title="الرجاء الاخنيار" required></select>
                        <span asp-validation-for="CityId" class="text-danger"></span>

                    </div>

                    <div class="form-group" hidden>
                        <label asp-for="CheckNumber" class="control-label"></label>
                        <input type="number" asp-for="CheckNumber" class="form-control" min="1" title="الرجاء الادخال بالشكل الصحيح" />
                        <span asp-validation-for="CheckNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BankAccount" class="control-label"></label>
                        <input id="Bank" type="number" asp-for="BankAccount" class="form-control" min="1" title="الرجاء الادخال بالشكل الصحيح" />
                        <span asp-validation-for="BankAccount" class="text-danger"></span>
                    </div>
                    @* <div class="form-group">
                    <label asp-for="CheckDate" class="control-label"></label>
                    <input  asp-for="CheckDate" class="form-control" />
                    <span asp-validation-for="CheckDate" class="text-danger"></span>
                    </div>*@

                </div>
                <div class="col">
                    @* <div class="form-group" >
                    <label asp-for="RecieveDate" class="control-label"></label>
                    <input asp-for="RecieveDate" class="form-control" />
                    <span asp-validation-for="RecieveDate" class="text-danger"></span>
                    </div>*@
                    <div class="form-group" hidden>
                        <label asp-for="ReceiverResidance" class="control-label"></label>
                        <input type="tel" asp-for="ReceiverResidance" id="ReceiverResidance" class="form-control" />
                        <span asp-validation-for="ReceiverResidance" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Notes" class="control-label"></label>
                        <input asp-for="Notes" class="form-control" id="note" />
                        <span asp-validation-for="Notes" class="text-danger"></span>
                    </div>
                    <div class="form-group" hidden>
                        <label asp-for="CardNumber" class="control-label"></label>
                        <input type="text" asp-for="CardNumber" id="CardNumber" class="form-control" />
                        <span asp-validation-for="CardNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BranchName" class="control-label"></label>
                        <input id="branch" type="text" asp-for="BranchName" class="form-control" title="الرجاء الادخال بالشكل الصحيح" />
                        <span asp-validation-for="BranchName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PayementFor" class="control-label"></label>
                        <input id="Pyment" type="text" asp-for="PayementFor" class="form-control" title="الرجاء الادخال بالشكل الصحيح" />
                        <span asp-validation-for="PayementFor" class="text-danger"></span>
                    </div>
                    <div class="form-group" hidden>
                        <label asp-for="Editor" class="control-label"></label>
                        <select asp-for="Editor" class="form-control" asp-items="ViewBag.Editor"></select>
                        <span asp-validation-for="Editor" class="text-danger"></span>
                    </div>
                    <div class="form-group" hidden>
                        <label asp-for="Checker" class="control-label"></label>
                        <select asp-for="Checker" asp-items="ViewBag.Checker" class="form-control"> </select>
                        <span asp-validation-for="Checker" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ReceiverName" class="control-label"></label>
                        <inputn id="ReceiverName" type="text" asp-for="ReceiverName" class="form-control" title="الرجاء الادخال بالشكل الصحيح" />
                        <span asp-validation-for="ReceiverName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label  asp-for="ReceiverNumber" class="control-label"></label>
                        <input id="ReceiverNumber" asp-for="ReceiverNumber" class="form-control" type="number" min="1" title="الرجاء الادخال بالشكل الصحيح" />
                        <span asp-validation-for="ReceiverNumber" class="text-danger"></span>
                    </div>

                    <div class="form-group" hidden>
                        <label asp-for="IsDeleted" class="control-label"></label>
                        <input asp-for="IsDeleted" class="form-control" />
                        <span asp-validation-for="IsDeleted" class="text-danger"></span>
                    </div>
                </div>

                <input value="@ViewBag.Id"  id="pid"/>
                <button class="btn btn-primary btn-lg btn-block"  onclick="ADD()">
                    إضافة دفعة
                </button>
        </form>
    </div>
</div>








@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function ADD() {
            //var e1 = document.getElementById("select2Singleid").value;
            var client = document.getElementById("clientid").value;
            var amount = document.getElementById("Amount").value;
          console.log(amount);
            var bank = document.getElementById("Bank").value;
           // var PId = document.getElementById("pid").value;
            var note = document.getElementById("note").value;
            var branch = document.getElementById("branch").value;
            var payment = document.getElementById("Pyment").value;
            var Rname = document.getElementById("ReceiverName").value;
            var Rnumber = document.getElementById("ReceiverNumber").value;
            var e = document.getElementById("cityid");
            var cityid = e.options[e.selectedIndex].value;

           // console.log(PId);
            $.post("/Payments/CreateClientPaymentApi", { clintId: client, Amount: amount, CityId: cityid, BranchName: branch, PayementFor: payment, BankAccount: bank, ReceiverName: Rname, ReceiverNumber: Rnumber, Notes: note }, function (data) {


                window.location.href = '/Payments/bill?PaymentId=' + data;

               // console.log(PId);
                console.log("your payment id is :"+data);

                

            });


        }







       
    </script>
}
