@model Ahlia.Models.Banning

@{
    ViewData["Title"] = "إنشاء";
}

<div class="card mb-4">
    <div class="card-header" style=" display: flex;
  justify-content: space-between;">
        <a asp-action="Index">
            <i class="fa fa-arrow-left fa-lg"></i>
        </a>
        <p>إنشاء </p>


    </div>
    <div class="card-body">
        <form asp-action="Create" style=" width: 50vw;  margin: auto;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row mb-4">
                <div class="col">

                    <div class="form-group">
                        <label asp-for="BannedType" class="control-label"></label>
                        <input asp-for="BannedType" class="form-control" />
                        <span asp-validation-for="BannedType" class="text-danger"></span>
                    </div>
                   
                </div>
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit">
                إضافة 
            </button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
