@model Ahlia.Models.Banning

@{
    ViewData["Title"] = "حذف";
}

<div class="card mb-4">
    <div class="card-header" style=" display: flex;
  justify-content: space-between;">
        <a asp-action="Index">
            <i class="fa fa-arrow-left fa-lg"></i>
        </a>
        <p>حذف </p>


    </div>

    <div class="card-body">
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row mb-4">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="BannedType" class="control-label"></label>
                        <input asp-for="BannedType" class="form-control" />
                        <span asp-validation-for="BannedType" class="text-danger"></span>
                    </div>

                </div>
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit">
                حذف
            </button>
        </form>
    </div>
</div>
