



<div class="row">
    <div class="col-lg-12">
        <div class="card mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <a asp-action="CreateRole"  class="m-0 font-weight-bold text-primary">
                    <i class="fa fa-plus"></i>
                    إضافة سماحية جديد
                </a>
            </div>
            <div class="table-responsive p-3">
                <div id="dataTableHover_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table align-items-center table-flush " id="dataTableHover" role="grid" aria-describedby="dataTableHover_info">
                                <thead class="thead-light">
                                    <tr>
                                        <th style="white-space: nowrap;text-align:center;">السماحية </th>

                                       

                                        <th style="white-space: nowrap;text-align:center;"></th>

                                       


                                    </tr>
                                </thead>

                                <tbody id="customertable">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts

    {
    <script>



        $(document).ready(function () {


            $.get("/Employees/IndexRole", function (data) {

                var table_tr = "";


                for (var i = 0; i < data.length; i++) {

                    table_tr += `
                                                                         <tr>
                                                                                 <td style="text-align: center;"> `+ data[i].name + ` </td>


                                                                                 <td style="text-align: center;"> <a href="/Employees/deleteRoleView?id=`+ data[i].id + `"> حذف</a>|<a href="/Employees/updateRoleView?id=`+ data[i].id + `"> تعديل</a></td>
                                                                                        
                                                                                                                                                                                


                                                                           </tr>`;
                    //Sumtotal += data[i].total;


                }
                // document.getElementById("customerTotal").value = Sumtotal;


                document.getElementById('customertable').innerHTML = table_tr;

                $('#dataTableHover').DataTable(); // ID From dataTable



            });

        });


      



    </script>
      }
