@model Ahlia.Models.Penefit

@{
    ViewData["Title"] = "حذف";
}
div class="card mb-4">
<div class="card-header" style=" display: flex;
  justify-content: space-between;">
    <a asp-action="Index">
        <i class="fa fa-arrow-left fa-lg"></i>
    </a>
    <p>حذف </p>


</div>

<div class="card-body">
    <form asp-action="Delete">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="row mb-4">
            <div class="col">
                <div class="form-group">
                    <label asp-for="ClientId" class="control-label"></label>
                    <input asp-for="ClientId" class="form-control" />
                    <span asp-validation-for="ClientId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PriceId" class="control-label"></label>
                    <input asp-for="PriceId" class="form-control" />
                    <span asp-validation-for="PriceId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CompleteAmount" class="control-label"></label>
                    <input asp-for="CompleteAmount" class="form-control" />
                    <span asp-validation-for="CompleteAmount" class="text-danger"></span>
                </div>
            </div>
        </div>
        <button class="btn btn-primary btn-lg btn-block" type="submit">
            حذف
        </button>

    </form>
</div>
